@model MP.Models.Extension.ProjectResult
<div class="content" style="background-color:#fff;">
    <form role="form" id="frm" style="width:780px" onsubmit="return mySubmit(true)">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            <h4 class="modal-title">添加项目</h4>
            <input type="hidden" id="Id" name="Id" value="@Model.ProjectInfo.Id" />
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">项目名称</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.ProjectInfo.Name" placeholder="请输入项目名称">
            </div>
            <div class="form-group">
                <label for="name">所属公司</label>
                <input type="text" class="form-control" id="Company" name="Company" value="@Model.ProjectInfo.Company" placeholder="请输入所属公司">
            </div>
            <div class="form-group">
                <label for="name">项目职务</label>
                <input type="text" class="form-control" id="Place" name="Place" value="@Model.ProjectInfo.Place" placeholder="请输入项目职务">
            </div>
            <div class="form-group">
                <label for="name">项目职责</label>
                <textarea class="form-control" id="Duties" name="Duties" rows="10">@Model.ProjectInfo.Duties </textarea>
            </div>
            <div class="form-group">
                <label for="name">项目技能</label>
                <input type="text" class="form-control" id="Skill" name="Skill" value="@Model.ProjectInfo.Skill" placeholder="请输入项目技能">
            </div>
            <div class="form-group">
                <label for="name">项目规模</label>
                <input type="text" class="form-control" id="Scale" name="Scale" value="@Model.ProjectInfo.Scale" placeholder="请输入项目规模">
            </div>
            <div class="form-group">
                <label for="name">项目时长</label>
                <input type="text" class="form-control" id="ProjectTime" name="ProjectTime" value="@Model.ProjectInfo.ProjectTime" placeholder="请输入项目时长">
            </div>
            <div class="form-group">
                <label for="name">项目开始时间</label>
                <input type="text" class="form-control" id="StartTime" name="StartTime" value="@Model.ProjectInfo.StartTime" placeholder="请输入项目开始时间">
            </div>
            <div class="form-group">
                <label for="name">项目结束时间</label>
                <input type="text" class="form-control" id="EndTime" name="EndTime" value="@Model.ProjectInfo.EndTime" placeholder="请输入项目结束时间">
            </div>
            <div class="form-group">
                <label for="name">项目描述</label>
                <input type="hidden" id="describeHidden" value="@Model.ProjectInfo.Describe" />
                <textarea class="form-control v-illegal" id="Describe" rows="10" name="Describe" maxlength="2000" style="width:100%; height: 250px;"></textarea>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">上传内容</label>
                <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>预览图</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="fileListTable">
                            @foreach (var item in Model.EffectResults)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.FileSize</td>
                                    <td></td>
                                    <td><img src="/@item.Path" alt="@item.Name" class="layui-upload-img"></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button type="button" class="layui-btn" id="testListAction">开始上传</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: window.location.href='/Project/Index'">取消</button>
                <button type="submit" id="save" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
</div>
<script src="~/require/require.js"></script>
<link href="~/plugin/layui/css/layui.css" rel="stylesheet" />
<script>
    var imageList = [];
    require(['jquery', 'util/upload', 'layer', 'validation', 'form', 'module/kindeditorControl', 'datetimepicker'], function ($, upload) {
        require(['/plugin/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js'], function () {
            $(function () {
                $("#StartTime,#EndTime").datetimepicker({
                    format: 'yyyy-mm-dd',
                    language: 'zh-CN',
                    autoclose: true,
                    startView: 2,
                    minView: 2,
                    //todayBtn: true,//显示当前日期按钮
                    pickerPosition: 'bottom-right',
                    //startDate: new Date()
                });
            });
        });
        _ = {
            init: function () {
                _.renderForm();
                _.registerEventImg("upload-img");
            },
            renderForm: function () {
                $("#frm").validate({
                    rules: {
                        Name: {
                            required: true
                        },
                        Company: {
                            required: true
                        },
                        Duties: {
                            required: true
                        },
                        Place: {
                            required: true
                        },
                        Skill: {
                            required: true
                        },
                        Scale: {
                            required: true
                        },
                        ProjectTime: {
                            required: true
                        },
                        StartTime: {
                            required: true
                        },
                        EndTime: {
                            required: true
                        },
                        Describe: {
                            required: true
                        }
                    },
                    messages: {
                        Name: {
                            required: "请输入项目名称"
                        },
                        Company: {
                            required: "请输入所属公司"
                        },
                        Duties: {
                            required: "请输入项目职责"
                        },
                        Place: {
                            required: "请输入项目职务"
                        },
                        Skill: {
                            required: "请输入项目技能"
                        },
                        Scale: {
                            required: "请输入项目规模"
                        },
                        ProjectTime: {
                            required: "请输入项目时长"
                        },
                        StartTime: {
                            required: "请输入项目开始时间"
                        },
                        EndTime: {
                            required: "请输入项目结束时间"
                        },
                        Describe: {
                            required: "项目描述"
                        }
                    },
                    submitHandler: function (form) {
                        editor.sync();
                        var data = $(form).formSerialize();
                        data["imageList"] = imageList;
                        $.post("/Project/AddProject", data, function (data) {
                            switch (data.Code) {
                                case 1000: layer.msg('操作成功', { icon: 1 }); break;
                                case 1021: layer.msg('菜单已存在', { icon: 2 }); break;
                                case 2001: layer.msg('操作', { icon: 2 }); break;
                            }
                        })
                    }
                })
            },
            registerEventImg: function (uploadFileTarget) {
                upload.init({
                    browse_button: uploadFileTarget
                });
            }
        }
        $(function () {
            _.init();
            layui.use('upload', function () {
                var upload = layui.upload;


                //多文件列表示例
                var demoListView = $('#fileListTable')
                    , uploadListIns = upload.render({
                        elem: '#testList'
                        , url: '/Project/Upload/'
                        , accept: 'file'
                        , multiple: true
                        , auto: false
                        , bindAction: '#testListAction'
                        , choose: function (obj) {
                            files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                            //读取本地文件
                            obj.preview(function (index, file, result) {
                                var tr = $(['<tr id="upload-' + index + '">'
                                    , '<td>' + file.name + '</td>'
                                    , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                                    , '<td>等待上传</td>'
                                    , '<td><img src="' + result + '" alt="' + file.name + '" class="layui-upload-img"></td>'
                                    , '<td>'
                                    , '<button type="button" class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                                    , '<button type="button" class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                                    , '</td>'
                                    , '</tr>'].join(''));

                                //单个重传
                                tr.find('.demo-reload').on('click', function () {
                                    obj.upload(index, file);
                                });

                                //删除
                                tr.find('.demo-delete').on('click', function () {
                                    delete files[index]; //删除对应的文件
                                    tr.remove();
                                    uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                                });

                                demoListView.append(tr);
                            });
                        }
                        , done: function (res, index, upload) {
                            var tr = demoListView.find('tr#upload-' + index), tds = tr.children();
                            if (res.Code == 1000) { //上传成功
                                imageList.push({ Path: res.Data, Name: res.Msg, FileSize: tds.eq(1).html()})

                                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                                tds.eq(4).html(''); //清空操作
                                delete files[index]; //删除文件队列已经上传成功的文件
                                return;
                            }
                            this.error(index, upload);
                        }
                        , error: function (index, upload) {
                            var tr = demoListView.find('tr#upload-' + index)
                                , tds = tr.children();
                            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                            tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                        }
                        //----------ajax多附件上传进度条----------
                        , xhr: function (index, e) {
                            var percent = e.loaded / e.total;//计算百分比
                            percent = parseFloat(percent.toFixed(2));
                            element.progress('progress_' + index + '', percent * 100 + '%');
                            console.log("-----" + percent);
                        }
                        //----------ajax多附件上传进度条----------
                    })
            });
        });
    })
</script>